<!DOCTYPE html>
<html lang="en">

<% include ./templates/head %>


  <body class="nav-md">
    <div class="container body">
      <div class="main_container">

      <% include ./templates/sidebar/sidebar %>
      <% include ./templates/nav %>






      <% include ./templates/footer %>

      </div>
    </div>

    <% include ./templates/scripts %>


  </body>
</html>
