<!DOCTYPE html>
<html lang="en">

<% include ./templates/head %>


  <body class="nav-md">
    <div class="container body">
      <div class="main_container">

      <% include ./templates/sidebar/sidebar %>
      <% include ./templates/nav %>



      <!-- page content -->
      <div class="right_col" role="main">
          <div class="">
              <div class="page-title">
                  <div class="title_left">
                      <h3>Sensors <small>Current sensors registered</small></h3>
                  </div>

                  <div class="title_right">
                      <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                          <div class="input-group">
                              <input type="text" class="form-control" placeholder="Search for...">
                              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="clearfix"></div>

              <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                      <div class="x_panel">
                          <div class="x_title">
                              <h2>Register new Sensor <small></small></h2>
                              <ul class="nav navbar-right panel_toolbox">
                                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                  </li>
                                  <li class="dropdown">
                                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                      <ul class="dropdown-menu" role="menu">
                                          <li><a href="#">Settings 1</a>
                                          </li>
                                          <li><a href="#">Settings 2</a>
                                          </li>
                                      </ul>
                                  </li>
                                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                                  </li>
                              </ul>
                              <div class="clearfix"></div>
                          </div>
                          <div class="x_content">
                              <br />
                              <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">

                                  <div class="form-group">
                                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Asigned Product <span class="required">*</span>
                  </label>
                                      <div class="col-md-6 col-sm-6 col-xs-12">
                                          <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12">
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Reference Number <span class="required">*</span>
                  </label>
                                      <div class="col-md-6 col-sm-6 col-xs-12">
                                          <input type="text" id="last-name" name="last-name" required="required" class="form-control col-md-7 col-xs-12">
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Shelf Number</label>
                                      <div class="col-md-6 col-sm-6 col-xs-12">
                                          <input id="middle-name" class="form-control col-md-7 col-xs-12" type="number" name="middle-name">
                                      </div>
                                  </div>
                                  <div class="ln_solid"></div>
                                  <div class="form-group">
                                      <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                          <button type="reset" class="btn btn-primary">Cancel</button>
                                          <button type="submit" class="btn btn-success">Submit</button>
                                      </div>
                                  </div>

                              </form>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="clearfix"></div>

              <div class="row">
                  <div class="col-md-12">
                      <div class="x_panel">
                          <div class="x_content">
                              <div class="row">
                                  <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                                      <ul class="pagination pagination-split">
                                          <li><a href="#">1</a></li>
                                          <li><a href="#">2</a></li>
                                          <li><a href="#">3</a></li>
                                          <li><a href="#">4</a></li>
                                          <li><a href="#">5</a></li>
                                          <li>...</li>
                                          <li><a href="#">100</a></li>
                                          <li><a href="#">101</a></li>
                                          <li><a href="#">102</a></li>
                                          <li><a href="#">103</a></li>
                                      </ul>
                                  </div>

                                  <div class="clearfix"></div>

                                  <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                                      <div class="well profile_view">
                                          <div class="col-sm-12">
                                              <h4 class="brief"><i>Nº 001</i></h4>
                                              <div class="left col-xs-7">
                                                <p><i class="fa fa-archive"></i> Shelf:  23 </p>
                                                  <ul class="list-unstyled">
                                                      <li><i class="fa fa-barcode"></i> Reference: <%= ip %></li>
                                                      <li><i class="fa fa-cube"></i> Products: <%= obj %></li>
                                                  </ul>
                                              </div>
                                              <div class="right col-xs-5 text-center">
                                                <div style="text-align: center; margin-bottom: 17px">
                                                    <span class="chart" data-percent="86">
                                              <span class="percent"></span>
                                                    </span>
                                                </div>
                                              </div>
                                          </div>

                                          <div class="col-xs-12 bottom text-center">

                                              <div class="col-xs-12 col-sm-12 emphasis">
                                                <% if(ip){%>
                                                  <button type="button" class="btn btn-success btn-xs">
                                                <%} else {%>
                                                  <button type="button" class="btn btn-danger btn-xs">
                                                <%}%>
                                                <%= status %>
                          </button>
                                                  <a href="/sensor"><button type="button" class="btn btn-primary btn-xs">
                          View Sensor
                        </button></a>
                        <% if(ip){%>
                            <button type="submit" id="buttonRefresh" class="btn btn-default btn-xs"><i class="fa fa-refresh"></i></button>
                        <%}%>

                                              </div>
                                          </div>
                                      </div>
                                  </div>

                                  <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                                      <div class="well profile_view">
                                          <div class="col-sm-12">
                                              <h4 class="brief"><i>Nº 002</i></h4>
                                              <div class="left col-xs-7">
                                                  <p><i class="fa fa-archive"></i> Shelf:  23 </p>
                                                  <ul class="list-unstyled">
                                                      <li><i class="fa fa-barcode"></i> Reference: 2341</li>
                                                      <li><i class="fa fa-cube"></i> Product: 432</li>
                                                  </ul>
                                              </div>
                                              <div class="right col-xs-5 text-center">
                                                <div style="text-align: center; margin-bottom: 17px">
                                                    <span class="chart" data-percent="80">
                                              <span class="percent"></span>
                                                    </span>
                                                </div>                                                    </div>
                                          </div>
                                          <div class="col-xs-12 bottom text-center">

                                              <div class="col-xs-12 col-sm-12 emphasis">
                                                  <button type="button" class="btn btn-success btn-xs"> Active
                          </button>
                                                  <button type="button" class="btn btn-primary btn-xs">
                          View Sensor
                        </button>
                                              </div>
                                          </div>
                                      </div>
                                  </div>

                                  <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                                      <div class="well profile_view">
                                          <div class="col-sm-12">
                                              <h4 class="brief"><i>Nº 003</i></h4>
                                              <div class="left col-xs-7">

                                                  <p><i class="fa fa-archive"></i> Shelf:  34 </p>
                                                  <ul class="list-unstyled">
                                                      <li><i class="fa fa-barcode"></i> Reference: 2434</li>
                                                      <li><i class="fa fa-cube"></i> Product: 231</li>
                                                  </ul>
                                              </div>
                                              <div class="right col-xs-5 text-center">
                                                <div style="text-align: center; margin-bottom: 17px">
                                                    <span class="chart" data-percent="75">
                                              <span class="percent"></span>
                                                    </span>
                                                </div>                                                    </div>
                                          </div>
                                          <div class="col-xs-12 bottom text-center">

                                              <div class="col-xs-12 col-sm-12 emphasis">
                                                  <button type="button" class="btn btn-success btn-xs"> Active
                          </button>
                                                  <button type="button" class="btn btn-primary btn-xs">
                          View Sensor
                        </button>
                                              </div>
                                          </div>
                                      </div>
                                  </div>

                                  <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                                      <div class="well profile_view">
                                          <div class="col-sm-12">
                                              <h4 class="brief"><i>Nº 004</i></h4>
                                              <div class="left col-xs-7">

                                                  <p><i class="fa fa-archive"></i> Shelf:  54 </p>
                                                  <ul class="list-unstyled">
                                                      <li><i class="fa fa-barcode"></i> Reference: 3352</li>
                                                      <li><i class="fa fa-cube"></i> Product: 457</li>
                                                  </ul>
                                              </div>
                                              <div class="right col-xs-5 text-center">
                                                <div style="text-align: center; margin-bottom: 17px">
                                                    <span class="chart" data-percent="50">
                                              <span class="percent"></span>
                                                    </span>
                                                </div>                                                    </div>
                                          </div>
                                          <div class="col-xs-12 bottom text-center">

                                              <div class="col-xs-12 col-sm-12 emphasis">
                                                  <button type="button" class="btn btn-success btn-xs"> Active
                          </button>
                                                  <button type="button" class="btn btn-primary btn-xs">
                          View Sensor
                        </button>
                                              </div>
                                          </div>
                                      </div>
                                  </div>

                                  <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                                      <div class="well profile_view">
                                          <div class="col-sm-12">
                                              <h4 class="brief"><i>Nº 005</i></h4>
                                              <div class="left col-xs-7">

                                                <p><i class="fa fa-archive"></i> Shelf:  59 </p>
                                                  <ul class="list-unstyled">
                                                      <li><i class="fa fa-barcode"></i> Reference: 3633</li>
                                                      <li><i class="fa fa-cube"></i> Product: 673</li>
                                                  </ul>
                                              </div>
                                              <div class="right col-xs-5 text-center">
                                                <div style="text-align: center; margin-bottom: 17px">
                                                    <span class="chart" data-percent="100">
                                              <span class="percent"></span>
                                                    </span>
                                                </div>
                                              </div>
                                          </div>
                                          <div class="col-xs-12 bottom text-center">

                                              <div class="col-xs-12 col-sm-12 emphasis">
                                                  <button type="button" class="btn btn-success btn-xs"> Active
                          </button>
                                                  <button type="button" class="btn btn-primary btn-xs">
                          View Sensor
                        </button>
                                              </div>
                                          </div>
                                      </div>
                                  </div>

                                  <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                                      <div class="well profile_view">
                                          <div class="col-sm-12">
                                              <h4 class="brief"><i>Nº 006</i></h4>
                                              <div class="left col-xs-7">

                                                  <p><i class="fa fa-archive"></i> Shelf:  63 </p>
                                                  <ul class="list-unstyled">
                                                      <li><i class="fa fa-barcode"></i> Reference: 5634</li>
                                                      <li><i class="fa fa-cube"></i> Product: 165</li>
                                                  </ul>
                                              </div>
                                              <div class="right col-xs-5 text-center">
                                                <div style="text-align: center; margin-bottom: 17px">
                                                    <span class="chart" data-percent="85">
                                              <span class="percent"></span>
                                                    </span>
                                                </div>                                                    </div>
                                          </div>
                                          <div class="col-xs-12 bottom text-center">

                                              <div class="col-xs-12 col-sm-12 emphasis">
                                                  <button type="button" class="btn btn-success btn-xs"> Active
                          </button>
                                                  <button type="button" class="btn btn-primary btn-xs">
                          View Sensor
                        </button>
                                              </div>
                                          </div>
                                      </div>
                                  </div>

                                  <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                                      <div class="well profile_view">
                                          <div class="col-sm-12">
                                              <h4 class="brief"><i>Nº 007</i></h4>
                                              <div class="left col-xs-7">

                                                  <p><i class="fa fa-archive"></i> Shelf:  76 </p>
                                                  <ul class="list-unstyled">
                                                      <li><i class="fa fa-barcode"></i> Reference: 6545</li>
                                                      <li><i class="fa fa-cube"></i> Product: 531</li>
                                                  </ul>
                                              </div>
                                              <div class="right col-xs-5 text-center">
                                                <div style="text-align: center; margin-bottom: 17px">
                                                    <span class="chart" data-percent="85">
                                              <span class="percent"></span>
                                                    </span>
                                                </div>                                                    </div>
                                          </div>
                                          <div class="col-xs-12 bottom text-center">

                                              <div class="col-xs-12 col-sm-12 emphasis">
                                                  <button type="button" class="btn btn-success btn-xs"> Active
                          </button>
                                                  <button type="button" class="btn btn-primary btn-xs">
                          View Sensor
                        </button>
                                              </div>
                                          </div>
                                      </div>
                                  </div>

                                  <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                                      <div class="well profile_view">
                                          <div class="col-sm-12">
                                              <h4 class="brief"><i>Nº 008</i></h4>
                                              <div class="left col-xs-7">

                                                  <p><i class="fa fa-archive"></i> Shelf:  23 </p>
                                                  <ul class="list-unstyled">
                                                      <li><i class="fa fa-barcode"></i> Reference: 6745</li>
                                                      <li><i class="fa fa-cube"></i> Product: 073</li>
                                                  </ul>
                                              </div>
                                              <div class="right col-xs-5 text-center">
                                                <div style="text-align: center; margin-bottom: 17px">
                                                    <span class="chart" data-percent="10">
                                              <span class="percent"></span>
                                                    </span>
                                                </div>                                                    </div>
                                          </div>
                                          <div class="col-xs-12 bottom text-center">

                                              <div class="col-xs-12 col-sm-12 emphasis">
                                                  <button type="button" class="btn btn-success btn-xs"> Active
                          </button>
                                                  <button type="button" class="btn btn-primary btn-xs">
                          View Sensor
                        </button>
                                              </div>
                                          </div>
                                      </div>
                                  </div>

                                  <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                                      <div class="well profile_view">
                                          <div class="col-sm-12">
                                              <h4 class="brief"><i>Nº 009</i></h4>
                                              <div class="left col-xs-7">

                                                  <p><i class="fa fa-archive"></i> Shelf:  25 </p>
                                                  <ul class="list-unstyled">
                                                      <li><i class="fa fa-barcode"></i> Reference: 7545</li>
                                                      <li><i class="fa fa-cube"></i> Product: 246</li>
                                                  </ul>
                                              </div>
                                              <div class="right col-xs-5 text-center">
                                                <div style="text-align: center; margin-bottom: 17px">
                                                    <span class="chart" data-percent="60">
                                              <span class="percent"></span>
                                                    </span>
                                                </div>                                                    </div>
                                          </div>
                                          <div class="col-xs-12 bottom text-center">

                                              <div class="col-xs-12 col-sm-12 emphasis">
                                                  <button type="button" class="btn btn-success btn-xs"> Active
                          </button>
                                                  <button type="button" class="btn btn-primary btn-xs">
                          View Sensor
                        </button>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- /page content -->


      <% include ./templates/footer %>

      </div>
    </div>

    <% include ./templates/scripts %>
    <script type="text/javascript">
        $(function() {
            $('.chart').easyPieChart({
                easing: 'easeOutElastic',
                delay: 3000,
                barColor: '#26B99A',
                trackColor: '#fff',
                scaleColor: false,
                lineWidth: 20,
                trackWidth: 16,
                lineCap: 'butt',
                onStep: function(from, to, percent) {
                    $(this.el).find('.percent').text(Math.round(percent));
                }
            });
        });
    </script>

    <script type="text/javascript">
      $(function() {
        $("#buttonRefresh").click(function(){
          httpGetAsync();
        });
      });

      function httpGetAsync(){
      var xmlHttp = new XMLHttpRequest();
      xmlHttp.onreadystatechange = function() {
        if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
            //callback(xmlHttp.responseText);
            console.log("REFRESH");
          }
        xmlHttp.open("GET", "http://<%= ip %>", true); // true for asynchronous
        xmlHttp.send(null);
      }
    </script>

  </body>
</html>
