<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
  <div class="menu_section">
    <h3>General</h3>
    <ul class="nav side-menu">
      <li><a href="/index"><i class="fa fa-home"></i> Home </a></li>
      <li><a href="activities"><i class="fa fa-edit"></i> Activities <span class="label label-success pull-right">2</span></a></li>
      <li><a><i class="fa fa-line-chart"></i> Sales <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="campaigns">Campaigns</a></li>
          <li><a href="#">Discounts</a></li>
        </ul>
      </li>
      <li><a href="provisioning"><i class="fa fa-cubes"></i> Provisioning </span></a></li>
      <li><a><i class="fa fa-database"></i> Storage <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="storage">Wharehouse</a></li>
          <li><a href="#">Shop</a></li>
          <li><a href="#">5th Shelve</a></li>
        </ul>
      </li>
      <li><a><i class="fa fa-sitemap"></i>System <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="#">Nodes</a></li>
          <li><a href="sensors">Sensors</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="menu_section">
    <h3>Settings</h3>
    <ul class="nav side-menu">
      <li><a><i class="fa fa-user"></i> Profile <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="calendar">Calendar</a></li>
          <li><a href="tables">Scheduling</a></li>
          <li><a href="profile">Information</a></li>
        </ul>
      </li>
      <li><a><i class="fa fa-ellipsis-h"></i> Other <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="#">Errors</a></li>
          <li><a href="#">Disclaimer</a></li>
          <li><a href="#">Issues</a></li>
        </ul>
      </li>
    </ul>
  </div>

</div>
<!-- /sidebar menu -->
