<div class="col-md-3 left_col">
  <div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
      <a href="/index" class="site_title"><img src="images/sauron_icon_w.png" alt=""> <span>Sauron System</span></a>
    </div>

    <div class="clearfix"></div>

    <% include ./profile_menu %>
    <% include ./side_menu %>
    <% include ./footer_menu %>

  </div>
</div>
